ion-list {
  --background: #083d85; 
  --color: #ffffff; 
}

ion-content {
  --background: #083d85; 
  --color: #ffffff; 
}

ion-item {
  --background: #083d85; 
  --color: #ffffff; 
}

ion-item ion-label {
  color: #ffffff; 
}

ion-item ion-label h2,
ion-item ion-label p {
  color: #ffffff; 
}
