<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="menu">
      <ion-title>Menu</ion-title>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  
      <ion-button (click)="cerrar_sesion()">Cerrar Sesion</ion-button>
    </div>
    </ion-toolbar>
  
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>



<ion-app>
  <ion-header>
    <ion-toolbar>
      <div class="titulo">
      <ion-title>Bienvenido {{usuario}}</ion-title>
      </div>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" id="main-content">
    <div class="container">
      <h1>"CHOFER"</h1>
      <img src="../../../assets/img/car.png" alt="car" class="car-img">
      <br>
      <p>Para programar tu viaje haz clic en "Programar Viaje"</p>
      <ion-button (click)="programar()" expand="block">Programar Viaje</ion-button>
      <br>
      <p>Para ver tus viajes programados haz clic en "Mis Viajes"</p>
      <ion-button (click)="misviajes()" expand="block">Mis Viajes</ion-button>
      <br>
      <p>Para cancelar tu viaje haz clic en "Cancelar Viaje"</p>
      <ion-button (click)="cancelarviaje()" expand="block">Cancelar Viaje</ion-button>
    </div>
  </ion-content>
</ion-app>
